{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <form method="post" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.name == 'product_detail' %}
            <textarea class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" rows="4" placeholder="제품에 대한 상세설명을 입력하세요"></textarea>
            {% elif field.name == 'imgfile' %}
            <input type="file" class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}">
            <p class="help-block">수정할 제품 사진을 업로드 하세요</p>
            {% else %}
            <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}" placeholder="{{ field.label }}을/를 입력하세요">
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">제품 수정</button>
    </form>
</div>
{% endblock %}