{% extends 'base.html' %}

{% block body %}
<h2>Detail</h2>
    <p>글 번호 : {{ post.id }}</p>
    <h1>제목 : {{ post.title }}</h1>
    <p>내용 : {{ post.body }}</p>
    <p>작성일자 : {{ post.created_at }}</p>
    <div class="my-3">
            {% if request.user == question.author %}
            <a href="{% url 'pybo:question_modify' question.id  %}"
               class="btn btn-sm btn-outline-secondary">수정</a>
            {% endif %}
        </div>
    <a href="/post/{{ post.pk }}/delete/">Delete</a>
    <br>
    <a href="/post">Back</a>
{% endblock %}